body {
  background-color: #f5eff5;
  color: black;
}

h1 {
  font-family: palantino;
  font-size: 36px;
  text-align: left;
}

h2 {
  font-family: palantino;
  font-size: 24px;
  text-align: left;
}

p {
  font-family: palantino;
  font-size: 18px;
  text-align: left
}

img {
  position: center;
}

nav {
  background-color: slateblue;
  color: white;
  font-family: palantino;
  font-size: 24px;
  position: center;
}

a {
  color: white;
  text-decoration: underline;
}
