

body {
  background-color: #f5eff5;
  color: black;
}

h1 {
  font-family: palantino;
  font-size: 36px;
  text-align: right;
}

p {
  font-family: palantino;
  font-size: 18px;
  text-align: right
}

img {
  position: center;
}

a {
  background-color: slateblue;
  color: white;
  font-family: palantino;
  font-size: 24px;
  text-align: center;
}
