

body {
  background-color: #f5eff5;
  color: black;
}

h1 {
  font-family: palantino;
  font-size: 36px;
  text-align: center;
}

p {
  font-family: palantino;
  font-size: 20px;
  text-align: center
}

img {
  position: center;
}

nav {
  color: white;
  font-family: palantino;
  font-size: 24px;
  position: center;
}

a {
  color: blue;
  text-decoration: underlined;
  font-size: 18px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

object {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
