

body {
  background-color: #f5eff5;
  color: black;
  background-image: url("http://www.wallmonkeys.com/media/catalog/product/cache/1/image/040ec09b1e35df139433887a97daa66f/t/d/td279_1.jpg"); 
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

h1 {
  font-family: palantino;
  font-size: 36px;
  text-align: center;
}

p {
  font-family: palantino;
  font-size: 20px;
  text-align: center
}

img {
  position: center;
}

.topnav a {
    float: right;
    color: white;
    background-color: slateblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
  background-color: gainsboro;
  color: black;
}

.topnav a.active {
  background-color: slateblue;
  color: snow;

li {
  color: blue;
  text-decoration: underlined;
  font-size: 18px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

object {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
