body {
  background-color: #f5eff5;
  color: black;
}

h1 h2 h3 h4 h5 h6 h7 h8 h9 h10 h11 h12 {
  font-family: palantino;
  font-size: 36px;
  text-align: right;
}

p {
  font-family: palantino;
  font-size: 18px;
  text-align: right
}

img {
  position: center;
}

nav {
  background-color: slateblue;
  color: white;
  font-family: palantino;
  font-size: 24px;
  position: center;
}

a {
  color: blue;
  text-decoration: underline;
}
